<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="../public/chat.css">
    <link rel="stylesheet" href="../public/popupNotification.css">
    <link rel="stylesheet" href="../public/groups.css">
    <link rel="stylesheet" href="../public/header.css">

    <title>Chatroom</title>
</head>
<body>
    <header class="main-header">
        <button class="logout-btn" id="logout-btn" onclick="logout()"> Logout </button>
        <button class="new-group-btn" id="new-group-btn" onclick="createNewGroup()"> Create New Group </button>
    </header>

    <div class="groups-div">
        <h2>Groups</h2>
        <ul>
            <li>Group1</li>
            <li>Group1</li>
            <li>Group1</li>
            <li>Group1</li>
        </ul>
    </div>

    <div class="messages-div">
        <h2>Chat App</h2>
        <ul id="messages-ul">
        </ul>
    </div>

    <div class="msg-input-div">
        <form action="">
            <input type="text" name="message" id="message-input" class="message-input">
            <button id="send-msg-btn" class="send-msg-btn" type="submit">Send</button>
        </form>
    </div>

    <div class="popup-container" id="popup-container">
        <div class="popup" id="popup-inner-div">
            <button id="close">&times;</button>
        </div>
    </div>

</body>

<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="../scripts/index.js"></script>

</html>