<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="../public/login.css">
    <link rel="stylesheet" href="../public/popupNotification.css">

    <title> Login </title>

</head>
<body>
    <div class="main-div">

        <h1 id="main-div-h1" class="main-div-h1"> Login </h1>

        <div class="inner-div">

            <form action="" id="signup-form" class="login-form">
                
                <label for="email" class="userDetails-label"> Email </label>
                <input type="email" name="email" id="email-input" class="userDetails-input">

                <label for="password" class="userDetails-label"> Password </label>
                <input type="password" name="password" id="password-input" class="userDetails-input">
                
                <a href="signup.html" class="signup-link"> New User? Click Here to Signup </a>
                <button type="submit" id="login-button" class="submit-button">Login</button>
            </form>

            <div class="popup-container" id="popup-container">
                <div class="popup" id="popup-inner-div">
                    <button id="close">&times;</button>
                </div>
            </div>
        
        </div>

    </div>
</body>

<script src="../scripts/login.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

</html>