<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="../public/signup.css">

    <title> Sign Up</title>

</head>
<body>
    <div class="main-div">

        <h1 id="main-div-h1" class="main-div-h1"> Sign Up </h1>

        <div class="inner-div">

            <form action="" id="signup-form" class="signup-form">

                <label for="username" class="userDetails-label"> Name </label>
                <input type="text" name="username" id="username-input" class="userDetails-input">
                
                <label for="email" class="userDetails-label"> Email </label>
                <input type="email" name="email" id="email-input" class="userDetails-input">

                <label for="phoneNumber" class="userDetails-label"> Phone Number </label>
                <input type="number" name="phoneNumber" id="phone-input" class="userDetails-input">

                <label for="password" class="userDetails-label"> Password </label>
                <input type="password" name="password" id="password-input" class="userDetails-input">
                
                <button type="submit" id="signup-button" class="submit-button"> Sign Up </button>
            </form>

            <!-- <div class="popup-container" id="popup-container">
                <div class="popup" id="popup-inner-div">
                    <button id="close">&times;</button>
                </div>
            </div> -->
        
        </div>

    </div>
</body>


</html>