.messages-div {
    text-align: center;
    display: inline-table;
    margin-bottom: 2rem;
    width: 50%;
    margin-left: 1rem;
    border: 4px solid whitesmoke;   

    padding-bottom: 1rem;
}
.messages-div h2{
    font-family: inherit;
    color: whitesmoke;
}

.messages-div ul {
    border: 2px solid whitesmoke;
    list-style: none;
    padding: 0;
    width: 80%;
    margin: auto;
    
    height: 29rem;
    overflow: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.messages-div ul::-webkit-scrollbar {
    display: none;
}

.messages-div ul li {
    width: 90%;
    background-color: rgb(91, 49, 165);
    color: whitesmoke;
    text-align: left;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    word-wrap: break-word;
}

.messages-div ul li:nth-child(even) {
    background-color: rgb(60, 33, 106);
}

.msg-input-div {
    position: fixed;
    background-color: rgb(25, 70, 108);

    padding: 1rem 6px;

    bottom: 0;
    right: 0; 
    width: 54%;
    
    border: 2px solid whitesmoke;
}

.message-input {
    margin-left: 0%;
    width: 50%;
    height: 1.5rem;
}

.send-msg-btn {
    width: 5rem;
    height: 2rem;
    background-color: rgb(91, 49, 165);
    color: whitesmoke;

    border: 2px solid whitesmoke;
    border-radius: 7px;
}

.send-msg-btn:hover {
    background-color: rgb(12, 159, 196);
}

.send-files-btn {
    width: 2rem;
    height: 2rem;
    background-color: rgb(91, 49, 165);
    color: whitesmoke;

    border: 2px solid whitesmoke;
    border-radius: 7px; 
    
    margin-left: 15%;
}

.send-files-btn:hover {
    background-color: rgb(12, 159, 196);
}