.groups-div {
    display: inline-table;
    text-align: center;
    
    margin-bottom: 2rem;
    width: 43%;
    margin-right: auto;

    border: 5px solid whitesmoke;

    overflow: auto;
}
.groups-div h2{
    font-family: inherit;
    color: whitesmoke;
}

.groups-div ul {
    border: 2px solid whitesmoke;
    list-style: none;
    padding: 0;
    width: 80%;
    margin: auto;
    margin-bottom: 5rem;
}

.groups-div ul li {
    width: 90%;
    background-color: rgb(91, 49, 165);
    color: whitesmoke;
    text-align: left;
    margin: 1rem auto;
    padding: 1rem 1rem;
    word-wrap: break-word;
}

.groups-div ul li:nth-child(even) {
    background-color: rgb(60, 33, 106);
}

.groups-div ul li:hover {
    background-color: rgb(106, 166, 215);
}

.create-grp-form {
    text-align: center;
}

.create-grp-form label {
    display: block;
    margin: 1rem 0rem;
}

.create-grp-form input {
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    height: 2rem;
    font-size: 25px;

    background-color: rgb(91, 49, 165);
    color: whitesmoke;
    border: 3px solid whitesmoke;
}

.create-grp-form button {
    display: block;
    width: 5rem;
    margin: auto;

    margin-bottom: 0.5rem;

    border: none;
    border-radius: 7px;
    width: 8rem;
    height: 2rem;

    background-color: rgb(91, 49, 165);
    color: whitesmoke;

    font-family: inherit;
    font-size: 15px;
}

.create-grp-form button:hover {
    border: 2px solid whitesmoke;
    background-color: rgb(12, 159, 196);
}

.group-text-div {
    display: inline-block;
    width: 80%;
}

.invite-button-div {
    position: relative;
    display: inline-block;

    margin-left: 4rem;
}

.invite-button {
    background-color: rgba(106, 166, 215, 0);
    color: whitesmoke;
    border: none;
    font-size: 20px;
}

.invite-button:hover {
    background-color: rgb(106, 166, 215);
}